# https://arkhamcookie.com

## secrets
.env*
!.env.example
!.env.default

## cache
.trash
.DS_Store
*.bak

## configs
.vscode
.idea
.vim

## Nix files
flake.lock

## ~/.config files I don't want
.mozilla/
gh/hosts.yml
pulse/cookie
